@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Bouvet-intro-ctf</h1>
    <p>
        Dette er et lite sett med grunnleggende oppgaver i browser sikkerhet for å lære begreper og enkle angrepsteknikker.
    </p>
    <a asp-controller="Flags" action="Index" class="btn btn-primary">Se på oppgavene</a>
    <a asp-controller="Scoreboard" action="Index" class="btn btn-secondary">Se på leaderboardet</a>
    
</div>
