<h1>ByPass</h1>
<p>
    Mange sider vi vanligvis anser som sikre inkluderer lar brukere eller annonsører inkludere innhold fra tredjepart sider.
    Dette gir oss et viktig problem som heter XSRF, der en bruker som er innlogget på din side, besøker en slik tredjepartsside.
</p>