@model Ctf.Areas.Todo.TodoViewModel
<h1>Todo app:</h1>

<h2>Mine oppgaver:</h2>
<ul>
    @foreach( var todo in Model.Todos){
        <li><a asp-action="show" asp-route-id=@(todo.Id)>@(todo.Description)</a></li>
    }
</ul>

<h2>Opprett en oppgave</h2>

<form asp-area="Todo" asp-controller="Todo" asp-action="Todo"  method="post">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="oppgave" name="Description">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Lagre</button>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/areas/todo.js" asp-append-version="true"></script>
}